.Rproj.user
.Rhistory
.RData
.Ruserdata
API.R
kits_ready.csv
file.html
src/SJC_2018_Parcels/SJC_2018_Parcels.cpg
src/SJC_2018_Parcels/SJC_2018_Parcels.dbf
src/SJC_2018_Parcels/SJC_2018_Parcels.prj
src/SJC_2018_Parcels/SJC_2018_Parcels.sbn
src/SJC_2018_Parcels/SJC_2018_Parcels.sbx
src/SJC_2018_Parcels/SJC_2018_Parcels.shp
src/SJC_2018_Parcels/SJC_2018_Parcels.shx
